<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>My Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-6">
            <h2>STORE NAME</h2>
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>Add to Cart</th>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                    <td>
                        <input class="number" type="number" min=1 max=1000/></option>
                    </td>
                    <td>
                        <button class="btn btn-default" type="submit">Buy</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h2>MY CART</h2>
        </div>
    </div>
</body>

</html>

<style>
    body {
        text-align: center;
    }
    th {
        text-align: center;
    }
    .col-md-6 {
        border-style: solid;
        border-width: 2px;
        height: 100vw;
    }
</style>